<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>VersionNum</key>
	<string>20210121</string>
	<key>CommonColor</key>
	<dict>
		<key>WhiteColor</key>
		<string>#FFFFFF</string>
		<key>Color1</key>
		<string>#2E3037</string>
		<key>Color2</key>
		<string>#1C1D20</string>
		<key>Color3</key>
		<string>#FFFFFF</string>
		<key>Color4</key>
		<string>#82ABEC</string>
		<key>Color5</key>
		<string>#FFFFFF</string>
		<key>Color6</key>
		<string>#DEEAFF</string>
		<key>Color7</key>
		<string>#313131</string>
		<key>Color9</key>
		<string>#40424A</string>
		<key>Color10</key>
		<string>#FFFFFF</string>
		<key>PlaceholderColor</key>
		<string>#6D7278</string>
		<key>Live_DefaultBgColor</key>
		<string>#F1F6FF</string>
		<key>Live_WhiteBoardDrawBoardBgColor</key>
		<string>#DCE2F1</string>
		<key>smallStageColor_answer</key>
		<string>#49C888</string>
		<key>smallStageColor_comment</key>
		<string>#82ABEC</string>
	</dict>
	<key>CommonImage</key>
	<dict>
		<key>close_btn_icon</key>
		<string>topBar_close_skin</string>
		<key>cancel_btn_icon_select</key>
		<string>cancel_skin</string>
	</dict>
	<key>brushTool_emptyrectangle</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>brushTool_emptyrectangle_nor_skin</string>
		<key>iconSel</key>
		<string>brushTool_emptyrectangle_sel_skin</string>
		<key>iconDis</key>
		<string>brushTool_emptyrectangle_dis_skin</string>
	</dict>
	<key>brushTool_filledrectangle</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>brushTool_filledrectangle_nor_skin</string>
		<key>iconSel</key>
		<string>brushTool_filledrectangle_sel_skin</string>
		<key>iconDis</key>
		<string>brushTool_filledrectangle_dis_skin</string>
	</dict>
	<key>brushTool_emptyellipse</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>brushTool_emptyellipse_nor_skin</string>
		<key>iconSel</key>
		<string>brushTool_emptyellipse_sel_skin</string>
		<key>iconDis</key>
		<string>brushTool_emptyellipse_dis_skin</string>
	</dict>
	<key>brushTool_filledellipse</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>brushTool_filledellipse_nor_skin</string>
		<key>iconSel</key>
		<string>brushTool_filledellipse_sel_skin</string>
		<key>iconDis</key>
		<string>brushTool_filledellipse_dis_skin</string>
	</dict>
	<key>brushTool_slider</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string>#DEEAFF</string>
		<key>selColor</key>
		<string>#82ABEC</string>
		<key>iconNor</key>
		<string>brushTool_slider_nor_skin</string>
		<key>iconSel</key>
		<string>brushTool_slider_sel_skin</string>
		<key>iconDis</key>
		<string>brushTool_slider_dis_skin</string>
	</dict>
	<key>brushTool_open</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>brushTool_open_nor_skin</string>
		<key>iconSel</key>
		<string>brushTool_open_sel_skin</string>
		<key>iconDis</key>
		<string>brushTool_open_dis_skin</string>
	</dict>
	<key>brushTool_mouse</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>brushTool_mouse_nor_skin</string>
		<key>iconSel</key>
		<string>brushTool_mouse_sel_skin</string>
		<key>iconDis</key>
		<string>brushTool_mouse_dis_skin</string>
	</dict>
	<key>brushTool_select</key>
	<dict>
		<key>iconNor</key>
		<string>brushTool_select_nor_skin</string>
		<key>iconSel</key>
		<string>brushTool_select_sel_skin</string>
		<key>iconDis</key>
		<string>brushTool_select_dis_skin</string>
	</dict>
	<key>brushTool_pen</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>brushTool_pen_nor_skin</string>
		<key>iconSel</key>
		<string>brushTool_pen_sel_skin</string>
		<key>iconDis</key>
		<string>brushTool_pen_dis_skin</string>
	</dict>
	<key>brushTool_text</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>brushTool_text_nor_skin</string>
		<key>iconSel</key>
		<string>brushTool_text_sel_skin</string>
		<key>iconDis</key>
		<string>brushTool_text_dis_skin</string>
	</dict>
	<key>brushTool_shape</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>brushTool_shape_nor_skin</string>
		<key>iconSel</key>
		<string>brushTool_shape_sel_skin</string>
		<key>iconDis</key>
		<string>brushTool_shape_dis_skin</string>
	</dict>
	<key>brushTool_eraser</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>brushTool_eraser_nor_skin</string>
		<key>iconSel</key>
		<string>brushTool_eraser_sel_skin</string>
		<key>iconDis</key>
		<string>brushTool_eraser_dis_skin</string>
	</dict>
	<key>brushTool_clear</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>brushTool_clear_nor_skin</string>
		<key>iconSel</key>
		<string>brushTool_clear_sel_skin</string>
		<key>iconDis</key>
		<string>brushTool_clear_dis_skin</string>
	</dict>
	<key>brushTool_deleteselect</key>
	<dict>
		<key>iconNor</key>
		<string>brushTool_delete_nor_skin</string>
		<key>iconSel</key>
		<string>brushTool_delete_sel_skin</string>
	</dict>
	<key>brushTool_drawpen</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>brushTool_drawpen_nor_skin</string>
		<key>iconSel</key>
		<string>brushTool_drawpen_sel_skin</string>
		<key>iconDis</key>
		<string>brushTool_drawpen_dis_skin</string>
	</dict>
	<key>brushTool_markpen</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>brushTool_markpen_nor_skin</string>
		<key>iconSel</key>
		<string>brushTool_markpen_sel_skin</string>
		<key>iconDis</key>
		<string>brushTool_markpen_dis_skin</string>
	</dict>
	<key>brushTool_line</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>brushTool_line_nor_skin</string>
		<key>iconSel</key>
		<string>brushTool_line_sel_skin</string>
		<key>iconDis</key>
		<string>brushTool_line_dis_skin</string>
	</dict>
	<key>brushTool_arrowline</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>brushTool_arrowline_nor_skin</string>
		<key>iconSel</key>
		<string>brushTool_arrowline_sel_skin</string>
		<key>iconDis</key>
		<string>brushTool_arrowline_dis_skin</string>
	</dict>
	<key>collectBtn</key>
	<dict>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>collectBoard_normal_skin</string>
		<key>iconSel</key>
		<string>collectBoard_select_skin</string>
	</dict>
	<key>controlTool_allScreen</key>
	<dict>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>controlTool_allScreen_normal_skin</string>
		<key>iconSel</key>
		<string></string>
		<key>iconHigh</key>
		<string>controlTool_allScreen_highLighted_skin</string>
	</dict>
	<key>controlTool_normalScreen</key>
	<dict>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>controlTool_normalScreen_normal_skin</string>
		<key>iconSel</key>
		<string></string>
		<key>iconHigh</key>
		<string>controlTool_normalScreen_heightLighed_skin</string>
	</dict>
	<key>controlTool_leftTurn</key>
	<dict>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>controlTool_leftTurn_normal_skin</string>
		<key>iconSel</key>
		<string></string>
		<key>iconHigh</key>
		<string>controlTool_leftTurn_highLighted_skin</string>
		<key>iconDis</key>
		<string>controlTool_leftTurn_disable_skin</string>
	</dict>
	<key>controlTool_rightTurn</key>
	<dict>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>controlTool_rightTurn_normal_skin</string>
		<key>iconSel</key>
		<string></string>
		<key>iconHigh</key>
		<string>controlTool_rightTurn_highLighted_skin</string>
		<key>iconDis</key>
		<string>controlTool_rightTurn_disable_skin</string>
	</dict>
	<key>controlTool_enlarge</key>
	<dict>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>controlTool_enlarge_normal_skin</string>
		<key>iconSel</key>
		<string></string>
		<key>iconHigh</key>
		<string>controlTool_enlarge_highLighted_skin</string>
		<key>iconDis</key>
		<string>controlTool_enlarge_disabled_skin</string>
	</dict>
	<key>controlTool_minimize</key>
	<dict>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>controlTool_minimize_normal_skin</string>
		<key>iconSel</key>
		<string></string>
		<key>iconHigh</key>
		<string>controlTool_minimize_highLight_skin</string>
		<key>iconDis</key>
		<string>controlTool_minimize_disabled_skin</string>
	</dict>
	<key>controlTool_return</key>
	<dict>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>controlTool_return_normal_skin</string>
		<key>iconSel</key>
		<string></string>
		<key>iconHigh</key>
		<string>controlTool_return_highLight_skin</string>
	</dict>
	<key>controlTool_close</key>
	<dict>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>controlTool_close_normal_skin</string>
		<key>iconSel</key>
		<string></string>
		<key>iconHigh</key>
		<string>controlTool_close_highLight_skin</string>
	</dict>
	<key>controlTool_frash</key>
	<dict>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>controlTool_frash_normal_skin</string>
		<key>iconSel</key>
		<string>controlTool_frash_selected_skin</string>
		<key>iconHigh</key>
		<string></string>
	</dict>
	<key>topBar_Close</key>
	<dict>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>topBar_close_skin</string>
		<key>iconSel</key>
		<string></string>
	</dict>
	<key>topBar_allScreen</key>
	<dict>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>topBar_allScreen_skin</string>
		<key>iconSel</key>
		<string></string>
		<key>iconHigh</key>
		<string></string>
	</dict>
	<key>topBar_minimze</key>
	<dict>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>topBar_minimize_skin</string>
		<key>iconSel</key>
		<string></string>
	</dict>
	<key>media_play</key>
	<dict>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>wb_media_play_nor_skin</string>
		<key>iconSel</key>
		<string>wb_media_play_sel_skin</string>
	</dict>
	<key>media_slider</key>
	<dict>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>wb_media_slider_nor_skin</string>
		<key>iconSel</key>
		<string></string>
	</dict>
	<key>laser_point</key>
	<dict>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>laser_point_nor_skin</string>
	</dict>
	<key>small_imageBtn</key>
	<dict>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>smallBoard_imageBtn_skin</string>
	</dict>
	<key>small_deleteImageBtn</key>
	<dict>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>smallBoard_deleteimageBtn_skin</string>
	</dict>
</dict>
</plist>
