<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>VersionNum</key>
	<string>20210420</string>
	<key>CommonColor</key>
	<dict>
		<key>WhiteColor</key>
		<string>#FFFFFF</string>
		<key>Color1</key>
		<string>#2E3037</string>
		<key>Color2</key>
		<string>#1C1D20</string>
		<key>Color3</key>
		<string>#FFFFFF</string>
		<key>Color4</key>
		<string>#82ABEC</string>
		<key>Color5</key>
		<string>#FFFFFF</string>
		<key>Color6</key>
		<string>#DEEAFF</string>
		<key>Color7</key>
		<string>#313131</string>
		<key>Color8</key>
		<string>#828282</string>
		<key>Color9</key>
		<string>#40424A</string>
		<key>Color10</key>
		<string>#FFFFFF</string>
		<key>PlaceholderColor</key>
		<string>#6D7278</string>
		<key>JurisdictionCheckFail</key>
		<string>#FF7D7D</string>
		<key>Live_timer_timeBgColor</key>
		<string>#DEEAFF</string>
		<key>Live_DefaultBgColor</key>
		<string>#F1F6FF</string>
		<key>Live_VoteNameTextColor</key>
		<string>#5A8CDC</string>
		<key>Live_TimeTextColor</key>
		<string>#818181</string>
	</dict>
	<key>CommonImage</key>
	<dict>
		<key>permission_background</key>
		<string>permission_background_skin</string>
		<key>main_uservideocover</key>
		<string>main_uservideocover_skin</string>
		<key>main_teachervideocover4v3</key>
		<string>main_teachervideocover4v3_skin</string>
		<key>main_teachervideocover16v9</key>
		<string>main_teachervideocover16v9_skin</string>
		<key>main_giftshow</key>
		<string>main_giftshow_skin</string>
		<key>live_main_notclassbeging</key>
		<string>live_main_notclassbeging_skin</string>
		<key>live_main_stopvideo</key>
		<string>live_main_stopvideo_skin</string>
		<key>live_main_waitingvideo</key>
		<string>videoView_Loading_skin</string>
		<key>close_btn_icon</key>
		<string>close_btn_icon_skin</string>
		<key>cancel_btn_icon_select</key>
		<string>cancel_skin</string>
	</dict>
	<key>allNoAudio_bottombar</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>bottombar_allNoAudio_nor_skin</string>
		<key>iconSel</key>
		<string>bottombar_allNoAudio_sel_skin</string>
		<key>iconDis</key>
		<string>bottombar_allNoAudio_dis_skin</string>
	</dict>
	<key>answer_openResult</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>answer_openResult_nor_skin</string>
		<key>iconSel</key>
		<string>answer_openResult_sel_skin</string>
		<key>iconDis</key>
		<string>answer_openResult_dis_skin</string>
	</dict>
	<key>answerSelectBtn</key>
	<dict>
		<key>noSelectTitleColor</key>
		<string>#82ABEC</string>
		<key>selectTitleColor</key>
		<string>#ffffff</string>
		<key>noSelectbgColor</key>
		<string>#ffffff</string>
		<key>selectbgColor</key>
		<string>#82ABEC</string>
	</dict>
	<key>answerAddtBtn</key>
	<dict>
		<key>titleColor</key>
		<string>#82ABEC</string>
	</dict>
	<key>barScaleBtn</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string>#18191D</string>
		<key>iconNor</key>
		<string>bottombar_onOff_sel_skin</string>
		<key>iconSel</key>
		<string>bottombar_onOff_nor_skin</string>
	</dict>
	<key>camera_bottombar</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>bottombar_camera_nor_skin</string>
		<key>iconSel</key>
		<string>bottombar_camera_sel_skin</string>
		<key>iconDis</key>
		<string>bottombar_camera_dis_skin</string>
	</dict>
	<key>cancelButton_login</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>backgroundColor</key>
		<string></string>
		<key>iconNormal</key>
		<string></string>
		<key>iconSelected</key>
		<string></string>
	</dict>
	<key>chatView_allDisableBtn</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>chat_allDisableNo_skin</string>
		<key>iconSel</key>
		<string>chat_allDisable_skin</string>
		<key>iconDis</key>
		<string></string>
	</dict>
	<key>chatTool_emijeBtn</key>
	<dict>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>chat_SCChatEmotion_skin</string>
		<key>iconSel</key>
		<string>chat_SCChatEmotion_push_skin</string>
	</dict>
	<key>chatTool_imageBtn</key>
	<dict>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>chat_SCChatImage_skin</string>
		<key>iconSel</key>
		<string>chat_SCChatImage_push_skin</string>
	</dict>
	<key>chat_memberSelectBtn</key>
	<dict>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>chat_member_noSelected_skin</string>
		<key>iconSel</key>
		<string>chat_member_selected_skin</string>
	</dict>
	<key>checkSoundPermissionImage</key>
	<dict>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>permissions_NoSound_skin</string>
		<key>iconSel</key>
		<string></string>
	</dict>
	<key>checkCameraPermissionImage</key>
	<dict>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>permissions_NoCamera_skin</string>
		<key>iconSel</key>
		<string></string>
	</dict>
	<key>courseware_bottombar</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>bottombar_courseware_nor_skin</string>
		<key>iconSel</key>
		<string>bottombar_courseware_sel_skin</string>
		<key>iconDis</key>
		<string>bottombar_courseware_dis_skin</string>
	</dict>
	<key>coursewareList_open</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>coursewareList_open_nor_skin</string>
		<key>iconSel</key>
		<string>coursewareList_open_sel_skin</string>
		<key>iconDis</key>
		<string>coursewareList_open_dis_skin</string>
	</dict>
	<key>coursewareList_delete</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>coursewareList_delete_nor_skin</string>
		<key>iconSel</key>
		<string>coursewareList_delete_sel_skin</string>
		<key>iconDis</key>
		<string>coursewareList_delete_dis_skin</string>
	</dict>
	<key>coursewareList_play</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>coursewareList_play_nor_skin</string>
		<key>iconSel</key>
		<string>coursewareList_play_sel_skin</string>
		<key>iconDis</key>
		<string>coursewareList_play_dis_skin</string>
	</dict>
	<key>coursewareList_WhiteBoard</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>coursewareList_WhiteBoard_nor_skin</string>
		<key>iconSel</key>
		<string></string>
		<key>iconDis</key>
		<string></string>
	</dict>
	<key>coursewareList_PPT</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>coursewareList_PPT_nor_skin</string>
		<key>iconSel</key>
		<string></string>
		<key>iconDis</key>
		<string></string>
	</dict>
	<key>coursewareList_Excel</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>coursewareList_Excel_nor_skin</string>
		<key>iconSel</key>
		<string></string>
		<key>iconDis</key>
		<string></string>
	</dict>
	<key>coursewareList_Word</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>coursewareList_Word_nor_skin</string>
		<key>iconSel</key>
		<string></string>
		<key>iconDis</key>
		<string></string>
	</dict>
	<key>coursewareList_JPG</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>coursewareList_JPG_nor_skin</string>
		<key>iconSel</key>
		<string></string>
		<key>iconDis</key>
		<string></string>
	</dict>
	<key>coursewareList_Txt</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>coursewareList_Txt_nor_skin</string>
		<key>iconSel</key>
		<string></string>
		<key>iconDis</key>
		<string></string>
	</dict>
	<key>coursewareList_Mp4</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>coursewareList_Mp4_nor_skin</string>
		<key>iconSel</key>
		<string></string>
		<key>iconDis</key>
		<string></string>
	</dict>
	<key>coursewareList_Mp3</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>coursewareList_Mp3_nor_skin</string>
		<key>iconSel</key>
		<string></string>
		<key>iconDis</key>
		<string></string>
	</dict>
	<key>coursewareList_PDF</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>coursewareList_PDF_nor_skin</string>
		<key>iconSel</key>
		<string></string>
		<key>iconDis</key>
		<string></string>
	</dict>
	<key>coursewareList_H5</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>coursewareList_H5_nor_skin</string>
		<key>iconSel</key>
		<string></string>
		<key>iconDis</key>
		<string></string>
	</dict>
	<key>coursewareList_OtherFile</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>coursewareList_OtherFile_nor_skin</string>
		<key>iconSel</key>
		<string></string>
		<key>iconDis</key>
		<string></string>
	</dict>
	<key>exit_bottombar</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>bottombar_exit_nor_skin</string>
		<key>iconSel</key>
		<string>bottombar_exit_sel_skin</string>
		<key>iconDis</key>
		<string>bottombar_exit_dis_skin</string>
	</dict>
	<key>fullFloat_cancelBtn</key>
	<dict>
		<key>iconNor</key>
		<string>fullFloat_cancel_nor</string>
		<key>iconSel</key>
		<string>fullFloat_cancel_sel</string>
	</dict>
	<key>fullFloat_mineBtn</key>
	<dict>
		<key>iconNor</key>
		<string>fullFloat_mine_nor</string>
		<key>iconSel</key>
		<string>fullFloat_mine_sel</string>
	</dict>
	<key>fullFloat_allBtn</key>
	<dict>
		<key>iconNor</key>
		<string>fullFloat_all_nor</string>
		<key>iconSel</key>
		<string>fullFloat_all_sel</string>
	</dict>
	<key>layout_bottombar</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>aroundNor</key>
		<string>bottombar_layout_aroundNor_skin</string>
		<key>aroundSel</key>
		<string>bottombar_layout_aroundSel_skin</string>
		<key>videoNor</key>
		<string>bottombar_layout_videoNor_skin</string>
		<key>videoSel</key>
		<string>bottombar_layout_videoSel_skin</string>
		<key>doubleNor</key>
		<string>bottombar_layout_doubleNor_skin</string>
		<key>doubleSel</key>
		<string>bottombar_layout_doubleSel_skin</string>
		<key>focusNor</key>
		<string>bottombar_layout_focusNor_skin</string>
		<key>focusSel</key>
		<string>bottombar_layout_focusSel_skin</string>
		<key>iconNor</key>
		<string>bottombar_layout_changeNor_skin</string>
		<key>iconSel</key>
		<string>bottombar_layout_changeSel_skin</string>
	</dict>
	<key>leftPage_nameList</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>nameList_leftPage_nor_skin</string>
		<key>iconSel</key>
		<string></string>
		<key>iconDis</key>
		<string></string>
	</dict>
	<key>live_chatEmotionBtn</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>liveChat_emotionYS_skin</string>
		<key>iconSel</key>
		<string>liveChat_emotionYSPush_skin</string>
	</dict>
	<key>live_chatMessageAllPersional</key>
	<dict>
		<key>iconNor</key>
		<string>liveChat_messageAllPersonal_skin</string>
		<key>iconSel</key>
		<string>liveChat_messageAllPersonalPush_skin</string>
	</dict>
	<key>live_chatMessageMine</key>
	<dict>
		<key>iconNor</key>
		<string>liveChat_messageMine_skin</string>
		<key>iconSel</key>
		<string>liveChat_messageMinePush_skin</string>
	</dict>
	<key>live_chatMessageAnchor</key>
	<dict>
		<key>iconNor</key>
		<string>liveChat_messageAnchor_skin</string>
		<key>iconSel</key>
		<string>liveChat_messageAnchorPush_skin</string>
	</dict>
	<key>live_chatdeleteBtn</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>liveChat_emotionDelete_skin</string>
		<key>iconSel</key>
		<string>liveChat_emotionDeletePush_skin</string>
	</dict>
	<key>live_chat_flowerBtn</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>live_chat_flower_skin</string>
		<key>iconSel</key>
		<string>live_chat_flowerGray_skin</string>
	</dict>
	<key>live_fake_maskImage</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>live_fake_nothing</string>
		<key>iconSel</key>
		<string>live_fake_MP3</string>
	</dict>
	<key>live_raiseHand_time</key>
	<dict>
		<key>iconNor</key>
		<string>live_raiseHand_student_skin</string>
		<key>iconSel</key>
		<string>live_raiseHand_studentDown_skin</string>
		<key>iconNor1</key>
		<string>live_raiseHand_Time _1_skin</string>
		<key>iconNor2</key>
		<string>live_raiseHand_Time _2_skin</string>
		<key>iconNor3</key>
		<string>live_raiseHand_Time _3_skin</string>
	</dict>
	<key>login_topImage</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>login_icon_skin</string>
		<key>iconOnlineSchool</key>
		<string>login_iconOnlineSchool_skin</string>
	</dict>
	<key>login_passImg</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>login_passImg_nor</string>
		<key>iconSel</key>
		<string>login_passImg_sel</string>
	</dict>
	<key>login_passEye</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>login_passEye_nor</string>
		<key>iconSel</key>
		<string>login_passEye_sel</string>
	</dict>
	<key>login_setting</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>login_setting_nor</string>
	</dict>
	<key>login_roomNum</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>login_roomNum_skin</string>
		<key>iconOnlineSchool</key>
		<string></string>
	</dict>
	<key>login_userName</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>login_userName_skin</string>
		<key>iconOnlineSchool</key>
		<string></string>
	</dict>
	<key>login_password</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>login_password_skin</string>
		<key>iconOnlineSchool</key>
		<string></string>
	</dict>
	<key>login_background</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>login_backgroundImage_skin</string>
		<key>iconOnlineSchool</key>
		<string></string>
	</dict>
	<key>login_roleBtn</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>login_roleBtnBackImage_skin</string>
		<key>iconSel</key>
		<string>login_roleBtnBackImage_select_skin</string>
	</dict>
	<key>login_rowPassword</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>login_showPassword_no_skin</string>
		<key>iconSel</key>
		<string>login_showPassword_yes_skin</string>
	</dict>
	<key>login_userAgreement</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>login_userAgreement_no_skin</string>
		<key>iconSel</key>
		<string>login_userAgreement_yes_skin</string>
	</dict>
	<key>message_bottombar</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>bottombar_message_nor_skin</string>
		<key>iconSel</key>
		<string>bottombar_message_sel_skin</string>
		<key>iconDis</key>
		<string>bottombar_message_dis_skin</string>
	</dict>
	<key>videoAdjustment_bottombar</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>videoAdjustment_bottombar_nor_skin</string>
		<key>iconSel</key>
		<string>videoAdjustment_bottombar_sel_skin</string>
		<key>iconDis</key>
		<string>videoAdjustment_bottombar_dis_skin</string>
	</dict>
	<key>nameList_OtherDevice</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>nameList_OtherDevice_nor_skin</string>
		<key>iconSel</key>
		<string></string>
		<key>iconDis</key>
		<string></string>
	</dict>
	<key>nameList_AndroidPad</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>nameList_AndroidPad_nor_skin</string>
		<key>iconSel</key>
		<string></string>
		<key>iconDis</key>
		<string></string>
	</dict>
	<key>nameList_AndroidPhone</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>nameList_AndroidPhone_nor_skin</string>
		<key>iconSel</key>
		<string></string>
		<key>iconDis</key>
		<string></string>
	</dict>
	<key>nameList_ipad</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>nameList_ipad_nor_skin</string>
		<key>iconSel</key>
		<string></string>
		<key>iconDis</key>
		<string></string>
	</dict>
	<key>nameList_iphone</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>nameList_iphone_nor_skin</string>
		<key>iconSel</key>
		<string></string>
		<key>iconDis</key>
		<string></string>
	</dict>
	<key>nameList_MacExplorer</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>nameList_MacExplorer_nor_skin</string>
		<key>iconSel</key>
		<string></string>
		<key>iconDis</key>
		<string></string>
	</dict>
	<key>nameList_MacClient</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>nameList_MacClient_nor_skin</string>
		<key>iconSel</key>
		<string></string>
		<key>iconDis</key>
		<string></string>
	</dict>
	<key>nameList_WindowsExplorer</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>nameList_WindowsExplorer_nor_skin</string>
		<key>iconSel</key>
		<string></string>
		<key>iconDis</key>
		<string></string>
	</dict>
	<key>nameList_WindowsClient</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>nameList_WindowsClient_nor_skin</string>
		<key>iconSel</key>
		<string></string>
		<key>iconDis</key>
		<string></string>
	</dict>
	<key>nameList_cup</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>nameList_cup_nor_skin</string>
		<key>iconSel</key>
		<string></string>
		<key>iconDis</key>
		<string></string>
	</dict>
	<key>nameList_updown</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>nameList_updown_nor_skin</string>
		<key>iconSel</key>
		<string>nameList_updown_sel_skin</string>
		<key>iconDis</key>
		<string>nameList_updown_dis_skin</string>
	</dict>
	<key>nameList_speak</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>nameList_speak_nor_skin</string>
		<key>iconSel</key>
		<string>nameList_speak_sel_skin</string>
		<key>iconDis</key>
		<string>nameList_speak_dis_skin</string>
	</dict>
	<key>nameList_out</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>nameList_out_nor_skin</string>
		<key>iconSel</key>
		<string>nameList_out_sel_skin</string>
		<key>iconDis</key>
		<string>nameList_out_dis_skin</string>
	</dict>
	<key>onOff_bottombar</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>bottombar_onOff_nor_skin</string>
		<key>iconSel</key>
		<string>bottombar_onOff_sel_skin</string>
		<key>iconDis</key>
		<string>bottombar_onOff_dis_skin</string>
	</dict>
	<key>personList_bottombar</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>bottombar_perList_nor_skin</string>
		<key>iconSel</key>
		<string>bottombar_perList_sel_skin</string>
		<key>iconDis</key>
		<string>bottombar_perList_dis_skin</string>
	</dict>
	<key>polling_add</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>polling_add_nor_skin</string>
		<key>iconSel</key>
		<string>polling_add_sel_skin</string>
		<key>iconDis</key>
		<string>polling_add_dis_skin</string>
	</dict>
	<key>polling_subtract</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>polling_subtract_nor_skin</string>
		<key>iconSel</key>
		<string>polling_subtract_sel_skin</string>
		<key>iconDis</key>
		<string>polling_subtract_dis_skin</string>
	</dict>
	<key>polling_bottombar</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>bottombar_polling_nor_skin</string>
		<key>iconSel</key>
		<string>bottombar_polling_sel_skin</string>
		<key>iconDis</key>
		<string>bottombar_polling_dis_skin</string>
	</dict>
	<key>rightPage_nameList</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>nameList_rightPage_nor_skin</string>
		<key>iconSel</key>
		<string></string>
	</dict>
	<key>raiseHand_teacherBtn</key>
	<dict>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>raiseHand_teacherNo_skin</string>
		<key>iconSel</key>
		<string>raiseHand_teacher_skin</string>
	</dict>
	<key>raiseHand_studentBtn</key>
	<dict>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>raiseHand_teacher_skin</string>
		<key>iconSel</key>
		<string>raiseHand_student_skin</string>
	</dict>
	<key>raiseHand_time</key>
	<dict>
		<key>bgColor</key>
		<string></string>
		<key>iconNor1</key>
		<string>raiseHand_Time _1_skin</string>
		<key>iconNor2</key>
		<string>raiseHand_Time _2_skin</string>
		<key>iconNor3</key>
		<string>raiseHand_Time _3_skin</string>
	</dict>
	<key>raiseHand_platform</key>
	<dict>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>raiseHand_platformDown_skin</string>
		<key>iconSel</key>
		<string>raiseHand_platformUp_skin</string>
	</dict>
	<key>searchbar_search_nameList</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>nameList_search_nor_skin</string>
		<key>iconSel</key>
		<string></string>
		<key>iconDis</key>
		<string></string>
	</dict>
	<key>searchbar_cancel_nameList</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>nameList_searchCancel_nor_skin</string>
		<key>iconSel</key>
		<string></string>
		<key>iconDis</key>
		<string></string>
	</dict>
	<key>set_arrow</key>
	<dict>
		<key>iconNor</key>
		<string>set_cellArrow_skin</string>
	</dict>
	<key>toolBox_bottombar</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>bottombar_toolbox_nor_skin</string>
		<key>iconSel</key>
		<string>bottombar_toolbox_sel_skin</string>
		<key>iconDis</key>
		<string>bottombar_toolbox_dis_skin</string>
	</dict>
	<key>toolBox_answer</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>toolBox_answer_nor_skin</string>
		<key>iconSel</key>
		<string>toolBox_answer_sel_skin</string>
		<key>iconDis</key>
		<string>toolBox_answer_dis_skin</string>
	</dict>
	<key>toolBox_album</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>toolBox_album_nor_skin</string>
		<key>iconSel</key>
		<string>toolBox_album_sel_skin</string>
		<key>iconDis</key>
		<string>toolBox_album_dis_skin</string>
	</dict>
	<key>toolBox_timer</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>timeBgColor</key>
		<string>#6D7278</string>
		<key>iconNor</key>
		<string>toolBox_timer_nor_skin</string>
		<key>iconSel</key>
		<string>toolBox_timer_sel_skin</string>
		<key>iconDis</key>
		<string>toolBox_timer_dis_skin</string>
	</dict>
	<key>toolBox_responder</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>toolBox_responder_nor_skin</string>
		<key>iconSel</key>
		<string>toolBox_responder_sel_skin</string>
		<key>iconDis</key>
		<string>toolBox_responder_dis_skin</string>
	</dict>
	<key>toolBox_dice</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>toolBox_dice_nor_skin</string>
	</dict>
	<key>videoView_authorizeLab</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>videoView_authorize_skin</string>
		<key>iconSel</key>
		<string></string>
	</dict>
	<key>videoView_stateVideo</key>
	<dict>
		<key>closeCam</key>
		<string>videoView_closeVideo_skin</string>
		<key>noCam</key>
		<string>videoView_noCamera_skin</string>
		<key>occupyCam</key>
		<string>videoView_occupyCamera_skin</string>
		<key>disableCam</key>
		<string>videoView_disableCamera_skin</string>
		<key>lowWifi</key>
		<string>videoView_lowWifi_skin</string>
		<key>unknownCam</key>
		<string>videoView_unknownCamera_skin</string>
	</dict>
	<key>videoView_groupRoom</key>
	<dict>
		<key>discussing</key>
		<string>videoView_groupRoom_discussing_skin</string>
		<key>privateChat</key>
		<string>videoView_groupRoom_privateChat_skin</string>
	</dict>
	<key>videoView_trophyImage</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>videoView_trophy_skin</string>
		<key>iconSel</key>
		<string></string>
	</dict>
	<key>videoView_handImageView</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>videoView_handImage_skin</string>
		<key>iconSel</key>
		<string></string>
	</dict>
	<key>videoView_PrivateChat</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>videoView_PrivateChat_skin</string>
		<key>iconSel</key>
		<string></string>
	</dict>
	<key>videoView_stateSound</key>
	<dict>
		<key>noMic</key>
		<string>videoView_noMic_skin</string>
		<key>occupyMic</key>
		<string>videoView_occupyMic_skin</string>
		<key>disableMic</key>
		<string>videoView_disableMic_skin</string>
		<key>unknownMic</key>
		<string>videoView_unknownMic_skin</string>
	</dict>
	<key>videoView_soundImageView</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>icon_selientSound</key>
		<string>videoView_beSilent_skin</string>
		<key>icon_noSound</key>
		<string>videoView_sound_no_skin</string>
		<key>icon_1Sound</key>
		<string>videoView_sound_1_skin</string>
		<key>icon_2Sound</key>
		<string>videoView_sound_2_skin</string>
		<key>icon_3Sound</key>
		<string>videoView_sound_3_skin</string>
	</dict>
	<key>videoView_loadingImage</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>icon_normal</key>
		<string>videoView_Loading_skin</string>
	</dict>
	<key>videoPop_soundButton</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>videoPop_soundOpen_Skin</string>
		<key>iconSel</key>
		<string>videoPop_soundClose_Skin</string>
		<key>iconDis</key>
		<string>videoPop_soundDis_Skin</string>
	</dict>
	<key>videoPop_authorizeButton</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>videoPop_authorizeCancel_skin</string>
		<key>iconSel</key>
		<string>videoPop_authorize_skin</string>
	</dict>
	<key>videoPop_videoButton</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>videoPop_videoOpen_skin</string>
		<key>iconSel</key>
		<string>videoPop_videoClose_skin</string>
	</dict>
	<key>videoPop_trophyButton</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>videoPop_trophyNo_skin</string>
		<key>iconSel</key>
		<string>videoPop_trophy_skin</string>
	</dict>
	<key>videoPop_resetButton</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>videoPop_videoReset_skin</string>
		<key>iconSel</key>
		<string>videoPop_videoReset_selected_skin</string>
	</dict>
	<key>videoPop_seatButton</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>videoPop_seatdown_skin</string>
		<key>iconSel</key>
		<string>videoPop_seatOn_skin</string>
	</dict>
	<key>videoPop_mirrorButton</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>videoPop_mirrorOpen_skin</string>
		<key>iconSel</key>
		<string>videoPop_mirrorClose_skin</string>
	</dict>
	<key>videoPop_fouceButton</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>videoPop_IsFouceNo_skin</string>
		<key>iconSel</key>
		<string>videoPop_IsFouce_skin</string>
	</dict>
	<key>videoPop_allResetButton</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>videoPop_allResetNo_skin</string>
		<key>iconSel</key>
		<string>videoPop_allReset_skin</string>
	</dict>
	<key>timer_up</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>timer_up_nor_skin</string>
		<key>iconSel</key>
		<string>timer_up_sel_skin</string>
		<key>iconHigh</key>
		<string>timer_up_high_skin</string>
	</dict>
	<key>timer_down</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>timer_down_nor_skin</string>
		<key>iconSel</key>
		<string>timer_down_sel_skin</string>
		<key>iconHigh</key>
		<string>timer_down_high_skin</string>
	</dict>
	<key>timer_reset</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>timer_reset_nor_skin</string>
		<key>iconSel</key>
		<string>timer_reset_sel_skin</string>
		<key>iconDis</key>
		<string>timer_reset_dis_skin</string>
	</dict>
	<key>timer_pause</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>timer_pause_nor_skin</string>
		<key>iconSel</key>
		<string>timer_pause_sel_skin</string>
		<key>iconDis</key>
		<string>timer_pause_dis_skin</string>
	</dict>
	<key>timer_end</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>timer_end_nor_skin</string>
		<key>iconSel</key>
		<string>timer_end_sel_skin</string>
		<key>iconDis</key>
		<string>timer_end_dis_skin</string>
	</dict>
	<key>responder_logo</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>responder_logo_nor_skin</string>
		<key>iconSel</key>
		<string>responder_logo_sel_skin</string>
		<key>iconDis</key>
		<string>responder_logo_dis_skin</string>
	</dict>
	<key>responder_upPlatform</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>responder_upPlatform_nor_skin</string>
		<key>iconSel</key>
		<string>responder_upPlatform_sel_skin</string>
		<key>iconDis</key>
		<string>responder_upPlatform_dis_skin</string>
	</dict>
	<key>live_lesson_header</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>live_lesson_header_nor_skin</string>
		<key>iconSel</key>
		<string>live_lesson_header_sel_skin</string>
		<key>iconDis</key>
		<string>live_lesson_header_dis_skin</string>
	</dict>
	<key>live_lesson_translat</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>live_lesson_translat_nor_skin</string>
		<key>iconSel</key>
		<string>live_lesson_translat_sel_skin</string>
		<key>iconDis</key>
		<string>live_lesson_translat_dis_skin</string>
	</dict>
	<key>live_lesson_message</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>live_lesson_message_nor_skin</string>
		<key>iconSel</key>
		<string>live_lesson_message_sel_skin</string>
		<key>iconDis</key>
		<string>live_lesson_message_dis_skin</string>
	</dict>
	<key>live_lesson_status</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>live_lesson_status_nor_skin</string>
		<key>iconSel</key>
		<string>live_lesson_status_sel_skin</string>
		<key>iconDis</key>
		<string>live_lesson_status_dis_skin</string>
	</dict>
	<key>live_lesson_barrage</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>live_lesson_barrage_nor_skin</string>
		<key>iconSel</key>
		<string>live_lesson_barrage_sel_skin</string>
	</dict>
	<key>live_lesson_full</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>live_lesson_full_nor_skin</string>
		<key>iconSel</key>
		<string></string>
		<key>iconDis</key>
		<string></string>
	</dict>
	<key>live_lesson_return</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>live_lesson_return_nor_skin</string>
		<key>iconSel</key>
		<string></string>
		<key>iconDis</key>
		<string></string>
	</dict>
	<key>live_lesson_close</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>live_lesson_close_skin</string>
		<key>iconDis</key>
		<string></string>
	</dict>
	<key>live_lesson_open</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>live_lesson_open_skin</string>
	</dict>
	<key>live_prizeAlert_waiting</key>
	<dict>
		<key>tittleColor</key>
		<string>#FFE895</string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>live_prizeAlert_waiting_nor_skin</string>
		<key>iconSel</key>
		<string></string>
		<key>iconDis</key>
		<string></string>
	</dict>
	<key>live_prizeAlert_result</key>
	<dict>
		<key>tittleColor</key>
		<string>#FFE895</string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>live_prizeAlert_result_nor_skin</string>
		<key>iconSel</key>
		<string></string>
		<key>iconDis</key>
		<string></string>
	</dict>
	<key>live_prizeAlert_close</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>live_prizeAlert_close_nor_skin</string>
		<key>iconSel</key>
		<string></string>
		<key>iconDis</key>
		<string></string>
	</dict>
	<key>live_vote_topback</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>live_vote_topback_nor_skin</string>
		<key>iconSel</key>
		<string></string>
		<key>iconDis</key>
		<string></string>
	</dict>
	<key>live_vote_end</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>live_vote_end_nor_skin</string>
		<key>iconSel</key>
		<string></string>
		<key>iconDis</key>
		<string></string>
	</dict>
	<key>live_vote_ing</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>live_vote_ing_nor_skin</string>
		<key>iconSel</key>
		<string></string>
		<key>iconDis</key>
		<string></string>
	</dict>
	<key>live_vote_single</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>live_vote_single_nor_skin</string>
		<key>iconSel</key>
		<string>live_vote_single_sel_skin</string>
		<key>iconDis</key>
		<string></string>
	</dict>
	<key>live_mp4_full</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>live_mp4_full_nor_skin</string>
		<key>iconSel</key>
		<string>live_mp4_full_sel_skin</string>
		<key>iconDis</key>
		<string></string>
	</dict>
	<key>media_slider</key>
	<dict>
		<key>iconNor</key>
		<string>media_slider_nor_skin</string>
		<key>iconSel</key>
		<string></string>
		<key>iconDis</key>
		<string></string>
	</dict>
	<key>media_play</key>
	<dict>
		<key>iconNor</key>
		<string>media_play_nor_skin</string>
		<key>iconSel</key>
		<string>media_play_sel_skin</string>
		<key>iconDis</key>
		<string></string>
	</dict>
	<key>media_close</key>
	<dict>
		<key>iconNor</key>
		<string>media_close_nor_skin</string>
		<key>iconSel</key>
		<string></string>
		<key>iconDis</key>
		<string></string>
	</dict>
	<key>doubleTeacher_littleView</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>doubleTeacher_littleView_nor_skin</string>
		<key>iconSel</key>
		<string>doubleTeacher_littleView_sel_skin</string>
		<key>iconDis</key>
		<string></string>
	</dict>
	<key>Permissions_animation</key>
	<dict>
		<key>animation1</key>
		<string>permissions_animation1_skin</string>
		<key>animation2</key>
		<string>permissions_animation2_skin</string>
		<key>animation3</key>
		<string>permissions_animation3_skin</string>
		<key>animation4</key>
		<string>permissions_animation4_skin</string>
	</dict>
	<key>passwordAlert</key>
	<dict>
		<key>iconNor</key>
		<string>passwordAlert_nolook</string>
		<key>iconSel</key>
		<string>passwordAlert_look</string>
	</dict>
</dict>
</plist>
